<%- include('partials/header') %>
<main>
  <h1>Vinsælar myndir</h1>
  <div class="game-grid">
    <% games.forEach(game => { %>
      <div class="game-card">
        <img class="image" src="<%= game.image %>" alt="<%= game.title %>">
        <h3><%= game.title %></h3>
        <p><%= game.year %></p>
        <a href="/game/<%= game.id %>" class="btn">See more</a>
      </div>
    <% }) %>
  </div>
</main>
<%- include('partials/footer') %>